#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.red{
  color: purple;
}

.card{
  background-color: pink;
  text-align: left;
  border-radius: 10%;
  padding: 0.3rem 1.5rem 1rem;
}